<div id="outerContainer">
  <div #track class="track_drag animate">
    <div #dragItem id="item"></div>
    <p #end class="track_text track_text--end animate">Confirmed</p>
    <p #after class="track_text track_text--after animate">Confirming...</p>
    <p #before class="track_text track_text--before animate">
      Slide to Confirm
    </p>
  </div>
</div>

<ion-alert
  trigger="present-alert"
  header="A Short Title Is Best"
  subHeader="A Sub Header Is Optional"
  message="A message should be a short, complete sentence."
  [buttons]="alertButtons"
  [isOpen]="openAlert"
  (didDismiss)="setOpen(false)"
>
  <ion-icon name="thumbs-up-outline"></ion-icon>
  <ion-icon name="thumbs-down-outline"></ion-icon>
</ion-alert>
