<div id="outerContainer">
  <div #track class="track_drag animate">
    <div #dragItem id="item">
      <img
        class="arrow"
        src="../../../assets/right-arrow-backup-2-svgrepo-com.svg"
        alt="arrow_to_swipe"
      />
    </div>
    <p #end class="track_text track_text--end animate">Rate</p>
    <p #after class="track_text track_text--after animate">
      Just a bit more...
    </p>
    <p #before class="track_text track_text--before animate">Slide to Rate</p>
  </div>
</div>

<ion-alert
  class="custom-alert"
  [header]="title"
  message="Did you like that exercise?"
  [buttons]="alertButtons"
  [isOpen]="openAlert"
  (didDismiss)="setOpen(false)"
>
</ion-alert>
