<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Programs </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Programs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card
    *ngFor="let program of myPrograms"
    (click)="goToExercise(program.id)"
  >
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-justify-content-between">
          <ion-col class="start">{{ program.gym }}</ion-col>
          <ion-col class="end">
            <div>{{ program.exercises }} exercises</div>
            <div>{{ program.estimatedTime }} m</div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
