.start {
  text-align: start;
  display: flex;
  align-items: center;
}

.end {
  text-align: end;
  align-items: center;
}

.center {
  text-align: center;
  align-items: center;
}

ion-item::part(native) {
  background-color: transparent;
}
