.start {
  text-align: start;
  display: flex;
  align-items: center;
}

.end {
  text-align: end;
  align-items: center;
}

.center {
  text-align: center;
  align-items: center;
}

ion-item::part(native) {
  background-color: transparent;
}

.ion-margin-end {
  --margin-end: var(--ion-margin, 20px);
  margin-inline-end: var(--ion-margin, 20px);
}

.grid-content {
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}

.middle-col {
  padding: 3%;
}
.chats {
  padding: 0;

  .chat-item {
    .chat-item-info {
      margin-inline-end: 1rem;

      ion-icon {
        width: 1.5rem;
        height: 1.5rem;
      }

      p {
        margin: 0;

        &.status-text {
          font-size: 0.75rem;
        }

        &.status-date {
          font-size: 0.625rem;
        }
      }

      .status {
        &.open {
          color: var(--ion-color-warning);
        }

        &.closed {
          color: var(--ion-color-danger);
        }

        &.check {
          color: var(--ion-color-success);
        }
      }
    }

    .chat-elevators {
      display: flex;
      min-width: 0;

      .first {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }

      .more {
        flex-shrink: 0;
        margin-right: 0.5rem;
      }
    }
  }
}

ion-grid {
  padding: 0;
}

ion-col {
  padding: 0;
}

.chat-message {
  display: flex;
  // align-items: center;
  // justify-content: center;
  gap: 2px;
  font-size: 0.75rem;
  color: var(--ion-color-medium);

  p {
    margin-bottom: 0%;
  }
}

video {
  width: 100%;
  height: 100%;
}

.more-icon {
  height: 100%;
}

.more {
  display: flex;
  height: 100%;
}

.card {
  position: relative;
}

.card-content {
  z-index: 1;
}

.badge {
  position: relative;
  float: right;
  margin-top: -10px;
  margin-right: -10px;
  z-index: 1000;
}
