<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Tab 1 </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item
      *ngFor="let program of myPrograms"
      (click)="goToExercise(program.id)"
    >
      <ion-label>{{ program.gym }}</ion-label>
      <div>
        <ion-label>{{ program.exercises }} exercises</ion-label>
        <ion-label>{{ program.estimatedTime }} m</ion-label>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
