<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-label>
        <ion-text>
          <h4 class="text-heading-4">Programs</h4>
        </ion-text>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
            <ion-title size="large">Programs</ion-title>
        </ion-row>
      </ion-grid>
     

    </ion-toolbar>
  </ion-header> -->
  <ng-container *ngIf="!loading; else loadingTemplate">
    <ion-card class="ion-margin-bottom" *ngFor="let program of myPrograms">
      <ion-card-header color="primary">
        <ion-card-subtitle>
          <ion-grid>
            <ion-row>
              <ion-col>
                <div class="ion-text-start">{{ program.gym }}</div>
              </ion-col>
              <ion-col>
                <div class="ion-text-end">
                  {{ program.exercises }} exercises
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content
        class="ion-margin-vertical ion-no-padding"
        positionV="bottom"
      >
        <ion-item lines="none">
          <ion-col>
            <ion-label class="ion-text-wrap">
              <h2>Workout Time</h2>
              <p>{{ program.estimatedTime }} m</p>
            </ion-label>
          </ion-col>
          <ion-col class="ion-text-end">
            <ion-button (click)="goToExercise(program.id)" fill="clear">
              <ion-icon
                name="chevron-forward-outline"
                slot="icon-only"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ng-template #loadingTemplate>
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Please wait...</span>
  </div>
</ng-template>
