

.content-wrapper {
    top: 100px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
  }
  
  ion-list {
    // --background: var(--ion-card-background, var(--ion-item-background, var(--ion-background-color, #fff)));
    // --color: var(--ion-card-color, var(--ion-item-color, var(--ion-color-step-600, #666666)));
    ion-item {
      --border-radius: 20px;
      --background: var(--ion-color-light);
      --inner-padding-end: 20px;
  
      ion-icon {
        padding: 0px 10px;
        margin-right: unset;
      }
    }
  }
  
  .inner-wrapper {
    margin-top: 3rem;
  }
  
  .noLink {
    text-decoration: none;
    margin-top: 1rem;
  }
  