ion-content{
    --ion-background-color:#E1EAF9 !important;
}

ion-header{
    position: absolute;
}

ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
}

ion-header{
    position: absolute;
}

.signin-btns {
    margin-top:25px;
    text-align:center;
}

.loginbtn{
    --ion-color-primary:#215AB7;
}

.registerbtn{
    --ion-color-primary:#215AB7;
}