<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="auto"><ion-back-button></ion-back-button></ion-col>
        <ion-col><ion-title> Exercises </ion-title></ion-col>
        <ion-col style="visibility: hidden" size="auto"
          ><ion-back-button></ion-back-button
        ></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <ion-card *ngFor="let exercise of exercises" (click)="goToExercise(exercise.id)">
      <ion-card-content>
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col class="start">{{ exercise.title }}</ion-col>
            <ion-col class="end">
              <div>{{ exercise.estimatedTime }} m</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>
</ion-content>

<ng-template #loadingTemplate>
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Please wait...</span>
  </div>
</ng-template>

<component-slider-confirm class="ion-padding"></component-slider-confirm>
