<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-title size="large">Settings</ion-title>
          </ion-col>
          <!-- <ion-col>
            <ion-button (click)="logout()" fill="clear">
              <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-col> -->
        </ion-row>
      </ion-grid>
    </ion-toolbar>
  </ion-header>

<ng-container *ngIf="!loading; else loadingTemplate">
  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Settings</ion-label>
    </ion-list-header>
    <ion-button (click)="logout()" fill="clear">
      <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      <ion-label>logout</ion-label>
    </ion-button>
  </ion-list>
</ng-container>

</ion-content>

<ng-template #loadingTemplate>
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Please wait...</span>
  </div>
</ng-template>