<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-label>
        <ion-text>
          <h4 class="text-heading-4">Settings</h4>
        </ion-text>
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
<ng-container *ngIf="!loading; else loadingTemplate">
  <ion-list lines="none">
    <ion-list-header>
      <ion-label size="medium">Settings</ion-label>
    </ion-list-header>
    <ion-button (click)="logout()" fill="clear">
      <ion-icon name="log-out-outline" slot="icon-only"></ion-icon>
      <ion-label>logout</ion-label>
    </ion-button>
  </ion-list>
</ng-container>

</ion-content>

<ng-template #loadingTemplate>
  <div class="spinner-container">
    <ion-spinner name="crescent"></ion-spinner>
    <span>Please wait...</span>
  </div>
</ng-template>